# Скопируйте этот файл в .env.docker для тестирования в docker
# Или в .env.local для локального запуска приложения (uvicorn)

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=homework
DB_URL=postgresql+asyncpg://postgres:password@localhost_or_db:5432/homework

# MinIO 
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpassword
MINIO_URL=http://localhost_or_minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadminpassword
MINIO_BUCKET_NAME=avatars
